* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

:root {
  font-family: "Fira Code", monospace;
}

a:visited {
  color: black;
}


	h1  {
		font-size: 3rem;
		padding-bottom: 3rem;
		margin-top: 1rem;
		margin-left: 3rem;
		padding-top: 3rem;
	}
	
