---
import Layout from "../layouts/layout.astro";
import background from "../layouts/background.astro";
---
<style>
	h1  {
		font-size: 3rem;
		padding-bottom: 3rem;
		margin-top: 1rem;
		margin-left: 3rem;
		padding-top: 3rem;
	}
	
	h2 {
		display: flex;
		align-self: flex-end;
		margin-right: 4rem;
		position: fixed;
	}
	sup {
		font-size: 1.5rem;
	}
  
  nav {
    height: 100vh;
    display: flex;
    align-content: center;
  }
  
	.castro {
		display: block;
		text-align: right;
		font-size: 4rem;
	}

	p {
		display: block;
		margin-left: 4rem;
		margin-right: 2rem;
		padding-right: 2rem;
		padding-top: 2rem;
		width: 50%;
		line-height: 1.3rem;
		text-align: right;	
}
	.intro-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
  
  .project-nav-item {
    font-size: 1rem;
    font-weight: 100;
    list-style: none;
    display: block;
    text-decoration: none;
 		cursor: pointer;
	}
	a {
		color: black;
	}
	a:visted {
		color: black;
	}
</style>

	<Layout title="Home">
		<h1><b>OCEGUEDA</b><sup>.dev</sup></h1>
			<nav class="intro-container">
        <h2><i class="castro">Castro<i></h2>
        <ul> 
					<li><a href="/np" class="project-nav-item">Networking & Programming</a></li>
          <li><a href="/mathematics" class="project-nav-item">Mathematics</a></li>
					<li><a href="/philosophy" class="project-nav-item">Philosophy</a></li>
					<li><a href="/poetry" class="project-nav-item">Poetry</a></li>
			 	  <li><a href="/art" class="project-nav-item">Art</a></li>
				</ul>
      </nav>
	</Layout>

