<style>
  nav {
    display: flex;
  }

  a {
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 1rem;
  }

  ul {
    display: flex;
  }

  li {
    list-style: none;
    margin-right: 5px;
  }

  #nav-item {
    margin-top: 1rem;
    font-weight: 1000;
  }
</style>
  <div><a id="nav-item">Ocegueda</a></div>
  <nav>
    <ul class="main">
      <li><a id="nav-item" href="/">Home</a></li>	
      <li><a id="nav-item" href="/about">About</a></li>
    </ul>
  </nav>
