---
import resume from '../assets/resume.pdf';
---
<style>
  nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
  }

  a {
    display: block;
    text-decoration: none;
    color: black;
  }

  ul {
    display: flex;
  }

  li {
    list-style: none;
    margin-right: 5px;
  }

  .nav-item {
    margin-top: 1rem;
    font-weight: 1000;
    display: block;
  }

  .logo {
    display: block;
    margin-left: .5rem;
  }

  .container {
    display: flex:
  }
  
  .edge {
    margin-right: 2rem;
  }
  li > a {
    font-weight: 400;
</style>
  <nav>
    <a class="logo nav-item">AOC</a>
    <ul class="main">
      <li><a class="nav-item" href="/">Home</a></li>	
			<li><a class="nav-item" href="https://github.com/AlexOcegueda">Github</a></li>
      </ul>
  </nav>
