<style>
  nav {
    display: flex;
    justify-content: space-between;
  }

  a {
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 1rem;
  }

  ul {
    display: flex;
  }

  li {
    list-style: none;
    margin-right: 5px;
  }

  .nav-item {
    margin-top: 1rem;
    font-weight: 1000;
  }

  .logo {
    display: block;
  }

  .container {
    display: flex:
  }
  
  .edge {
    margin-right: 2rem;
  }
  li > a {
    font-weight: 400;
</style>
  <nav>
    <a class="logo nav-item">AOC</a>
    <ul class="main">
      <li><a class="nav-item" href="/">Home</a></li>	
      <li><a class="nav-item" href="/about">About</a></li>
			<li><a class="nav-item edge" href="/github">Github</a></li>
    </ul>
  </nav>
