html, body {
	position: relative;
	background: #fafafa;
}

body {
  background-color: #fafafa;
  background-image:
    radial-gradient(circle, rgba(0,0,0,0.2) 1px, transparent 1px);
  background-size: 18px 18px;
  background-position: center;
}

.ascii-bg {
  position: fixed;        /* Stays put during scroll */
  top: .1rem;
  left: 2rem;
  bottom: .1rem;
  /*width: 100vw;         
  height: 100vh;        
  z-index: 0;           
  overflow: hidden;      /*  No scrollbars */
  font-family: monospace;
  font-size: 2em;
  /*line-height: 1;
  white-space: pre;*/
  color: rgba(0, 0, 0, 0.08);
  pointer-events: none;   /* Doesn't block clicks */
  user-select: none;      /* Prevent accidental selection */
}

